body{

  margin:0;

  background:#030712;

  color:white;

  font-family:Arial;
}

button{

  border:none;

  padding:18px;

  border-radius:18px;

  color:white;

  font-weight:bold;

  margin:5px;
}
